ipykernel
python-dotenv
pyyaml

langchain
langchain-openai
langchain-core
langchain-community
langchain_experimental
langchain_google_genai
google-generativeai
langchain-groq

langchain-qdrant
qdrant_client 

langgraph
langgraph-checkpoint-sqlite

bs4

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

dspy

nemoguardrails

openpyxl

chainlit
streamlit
fastapi==0.110.0
uvicorn==0.29.0
telethon==1.34.0
